*.pyc
test.py
/build/
/result/
/index/
/index_amazon/
/*.log
/*.png
/.idea/
/motivation/data/
/motivation/result/
index
index_amazon
/attribution/build/
/attribution/data/
/attribution/result/
/dataset/
cmake-build-debug/
cmake-build-release/
/attribution/*.jpg
/attribution/sample-score-distribution/*.jpg
/attribution/*.txt
*.eps
/obsoluted/disk-index-compression/ignore-fig
/obsoluted/disk-index-compression/*.jpg
/obsoluted/disk-index-compression/*.txt
/attribution/score-distribution/*.csv
/attribution/score-distribution/*.jpg
/attribution/disk-index-compression/*.jpg
/attribution/disk-index-compression/*.txt
/attribution/user-query-relationship/*.jpg
/attribution/user-query-relationship/*.txt
/attribution/performance-metric-relationship/*.jpg
/attribution/performance-metric-relationship/*.csv
/attribution/performance-metric-relationship/*.pdf
/script/plot/*.jpg
/script/plot/*.pdf
/obsoluted/ScoreSample/theory/*.jpg
/motivation/dimensionality_curse/dataset/
/motivation/dimensionality_curse/log/
/motivation/dimensionality_curse/log_tensorboard/
/motivation/dimensionality_curse/result/
/motivation/dimensionality_curse/saved/
/script/plot/*.png
/ReverseTopK/build/*
/simplex-algorithm/build
/rank/
/attribution/sample-score-distribution/*.png
/ReverseTopK/build/
/attribution/dimensionality-curse/radius_compare/data/KDD/
/attribution/dimensionality-curse/dimensionality-curse-amazon-home-kitchen-Balltree.jpg
/attribution/dimensionality-curse/dimensionality-curse-amazon-home-kitchen-Rtree.jpg
/attribution/dimensionality-curse/radius_compare/dimensionality-curse-yelp-Balltree.jpg
/attribution/dimensionality-curse/radius_compare/dimensionality-curse-yelp-Rtree.jpg
/LEMP/results/
/LEMP/.idea/
/LEMP/.idea/workspace.xml
/LEMP/build/
